html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 428px;
  background-color: white;
}
header .container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .burger {
  color: #999999;
  font-size: 20px;
}
header nav {
  display: none;
}

main {
  width: 428px;
  background-color: white;
}

.container {
  width: 85%;
  margin: auto;
}

.noOther {
  background-image: url(Images/other/graphic.png);
  background-size: cover;
  background-position-x: 150px;
  background-position-y: -30px;
  background-repeat: no-repeat;
}
.noOther > div {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}
.noOther > div .noOtherLeft {
  width: 80%;
}
.noOther > div .noOtherLeft .launching {
  padding-top: 30px;
  color: #ff3998;
}
.noOther > div .noOtherLeft h1 {
  line-height: 60px;
  font-size: 50px;
}
.noOther > div .noOtherLeft p {
  color: #555555;
  font-size: 25px;
  line-height: 35px;
  padding-bottom: 20px;
}
.noOther > div .noOtherRight img {
  display: none;
}

.signUpButton {
  border-radius: 40px;
  border: solid 5px black;
  padding: 20px 50px;
  background-color: transparent;
  font-weight: bold;
}

.earlyBirds {
  height: 350px;
  background-image: url(Images/other/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -150px;
}
.earlyBirds .container {
  padding-top: 80px;
}
.earlyBirds h3 {
  font-size: 40px;
}
.earlyBirds p {
  font-size: 22px;
  line-height: 28px;
}

.companies > .container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-content: center;
}
.companies .hideInMobile {
  display: none;
}

.auction {
  height: 700px;
  border-bottom: solid 2px #eeeeee;
}

.auctionText h2 {
  margin-top: 60px;
  font-size: 40px;
}
.auctionText p {
  color: #555555;
  font-size: 22px;
}
.auctionText a {
  color: #555555;
}

.auctionOffers {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

article {
  width: 290px;
}
article .offerBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eeeeee;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 25px;
  margin-top: -5px;
}
article .offerBottom > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
article .bottomTop {
  padding-top: 20px;
}
article .series {
  color: #ff8039;
}
article .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
article p {
  color: #999999;
  font-size: 12px;
  margin: 1px 0;
}
article h3 {
  margin: 10px 0;
}
article .bottomBot {
  padding-bottom: 20px;
}
article .bottomBot p {
  font-size: 16px;
}

.noOtherBottom {
  background-image: url(Images/other/upsell-footer-image.svg);
  background-size: auto;
  background-position-x: 250px;
  background-position-y: 220px;
  background-repeat: no-repeat;
  padding-top: 35px;
  height: 650px;
  border-bottom: solid 2px #eeeeee;
}
.noOtherBottom > div {
  display: flex;
  flex-direction: row;
}
.noOtherBottom .noOtherBottomLeft {
  width: 60%;
  padding-top: 40px;
}
.noOtherBottom .launching {
  color: #ff3998;
  margin: 0;
}
.noOtherBottom h1 {
  font-size: 50px;
}
.noOtherBottom p {
  color: #555555;
  font-size: 22px;
  line-height: 35px;
  padding-bottom: 20px;
}
.noOtherBottom .noOtherBottomRight {
  display: none;
}
.noOtherBottom button {
  margin-bottom: 50px;
}

footer {
  width: 428px;
  background-color: white;
}
footer .container {
  padding-top: 50px;
  color: #555555;
}
footer .footLeft p {
  padding: 10px 0;
}
footer .footLeft i {
  padding-right: 10px;
  padding-bottom: 30px;
  color: #999999;
}
footer .footRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}
footer .footRight nav {
  display: flex;
  flex-direction: column;
}
footer .footRight h4 {
  margin-bottom: 15px;
}
footer .footRight a {
  text-decoration: none;
  color: #555555;
  padding: 5px 0;
}
footer .footBottom {
  padding-bottom: 80px;
  color: #999999;
  font-size: 20px;
}
footer .footBottom p:nth-child(2) {
  display: none;
}/*# sourceMappingURL=index.css.map */