html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 428px;
  background-color: white;
}
header .container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .burger {
  color: #999999;
  font-size: 25px;
}
header nav {
  display: none;
}

main {
  width: 428px;
  background-color: white;
}

.container {
  width: 85%;
  margin: auto;
}

.noOther {
  background-image: url(Images/other/graphic.png);
  background-size: cover;
  background-position-x: 150px;
  background-position-y: -30px;
  background-repeat: no-repeat;
}
.noOther > div {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}
.noOther > div .noOtherLeft {
  width: 80%;
}
.noOther > div .noOtherLeft .launching {
  padding-top: 30px;
  color: #ff3998;
}
.noOther > div .noOtherLeft h1 {
  line-height: 60px;
  font-size: 50px;
}
.noOther > div .noOtherLeft p {
  color: #555555;
  font-size: 25px;
  line-height: 35px;
  padding-bottom: 20px;
}
.noOther > div .noOtherRight img {
  display: none;
}

.signUpButton {
  border-radius: 40px;
  border: solid 5px black;
  padding: 20px 50px;
  background-color: transparent;
  font-weight: bold;
}

.earlyBirds {
  height: 350px;
  background-image: url(Images/other/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -250px;
}
.earlyBirds .container {
  padding-top: 80px;
}
.earlyBirds h3 {
  font-size: 40px;
}
.earlyBirds p {
  font-size: 22px;
  line-height: 28px;
}

.companies > .container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-content: center;
}
.companies .hideInMobile {
  display: none;
}

.auction {
  height: 700px;
  border-bottom: solid 2px #eeeeee;
  overflow-x: hidden;
}
.auction .auctionText h2 {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 400;
}
.auction .auctionText p {
  color: #555555;
  font-size: 22px;
}
.auction .auctionText a {
  color: #555555;
}
.auction .auctionOffers {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.auction article {
  width: 290px;
}
.auction article .offerBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eeeeee;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 25px;
  margin-top: -5px;
}
.auction article .offerBottom > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.auction article .bottomTop {
  padding-top: 20px;
}
.auction article .series {
  color: #ff8039;
}
.auction article .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.auction article p {
  color: #999999;
  font-size: 12px;
  margin: 1px 0;
}
.auction article h3 {
  margin: 10px 0;
}
.auction article .bottomBot {
  padding-bottom: 20px;
}
.auction article .bottomBot p {
  font-size: 16px;
}

.noOtherBottom {
  background-image: url(Images/other/upsell-footer-image.svg);
  background-size: auto;
  background-position-x: 250px;
  background-position-y: 220px;
  background-repeat: no-repeat;
  padding-top: 35px;
  height: 650px;
  border-bottom: solid 2px #eeeeee;
}
.noOtherBottom > div {
  display: flex;
  flex-direction: row;
}
.noOtherBottom .noOtherBottomLeft {
  width: 60%;
  padding-top: 40px;
}
.noOtherBottom .launching {
  color: #ff3998;
  margin: 0;
}
.noOtherBottom h1 {
  font-size: 50px;
  font-weight: 900;
}
.noOtherBottom p {
  color: #555555;
  font-size: 22px;
  line-height: 35px;
}
.noOtherBottom p span {
  display: none;
}
.noOtherBottom .noOtherBottomRight {
  display: none;
}
.noOtherBottom button {
  margin-bottom: 50px;
}

footer {
  width: 428px;
  background-color: white;
}
footer .container {
  padding-top: 50px;
  color: #555555;
}
footer .footLeft p {
  padding: 10px 0;
}
footer .footLeft i {
  padding-right: 10px;
  padding-bottom: 30px;
  color: #999999;
}
footer .footRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}
footer .footRight nav {
  display: flex;
  flex-direction: column;
}
footer .footRight h4 {
  margin-bottom: 15px;
}
footer .footRight a {
  text-decoration: none;
  color: #555555;
  padding: 5px 0;
}
footer .footBottom {
  padding-top: 20px;
  padding-bottom: 70px;
  color: #999999;
  font-size: 20px;
}
footer .footBottom p:nth-child(2) {
  display: none;
}

@media screen and (min-width: 429px) {
  header {
    width: 1440px;
    padding-bottom: 40px;
  }
  header .burger {
    display: none;
  }
  header nav {
    display: block;
  }
  header nav a {
    padding-left: 10px;
    text-decoration: none;
    color: #555555;
  }
  header nav a:nth-child(4) {
    color: #ff3998;
  }
  main {
    width: 1440px;
  }
  main .noOther {
    background-image: none;
    padding-bottom: 100px;
  }
  main .noOther .container {
    padding-bottom: 0;
  }
  main .noOther .noOtherLeft {
    width: 65%;
  }
  main .noOther .noOtherLeft h1 {
    font-size: 70px;
    line-height: 75px;
    font-weight: 900;
  }
  main .noOther .noOtherLeft p {
    font-size: 18px;
    line-height: 24px;
  }
  main .noOther .noOtherRight img {
    display: block;
    width: 110%;
  }
  main .earlyBirds {
    width: 85%;
    margin: auto;
    height: 300px;
    background-position-x: unset;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 50px;
  }
  main .earlyBirds .container {
    padding-top: 20px;
  }
  main .companies .container {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  main .companies .container img {
    width: 13%;
  }
  main .companies .hideInMobile {
    display: block;
  }
  main .auction {
    height: auto;
    padding-bottom: 100px;
  }
  main .auction .auctionText {
    padding-bottom: 25px;
  }
  main .auction .auctionOffers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
  }
  main .noOtherBottom {
    background-image: none;
    height: auto;
  }
  main .noOtherBottom .container {
    display: flex;
    height: 480px;
  }
  main .noOtherBottom .noOtherBottomLeft {
    width: 45%;
  }
  main .noOtherBottom .noOtherBottomLeft h1 {
    font-weight: 900;
    letter-spacing: 2px;
  }
  main .noOtherBottom .noOtherBottomLeft p span {
    display: unset;
  }
  main .noOtherBottom .noOtherBottomRight {
    display: unset;
    width: 45%;
    background-image: url(Images/other/upsell-footer-image.svg);
    background-size: auto;
    background-position-x: 300px;
    background-position-y: 20px;
    background-repeat: no-repeat;
  }
  footer {
    width: 1440px;
  }
  footer .footTop {
    display: flex;
    justify-content: space-between;
  }
  footer .footTop .footRight {
    display: flex;
    gap: 100px;
  }
  footer .footBottom {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  footer .footBottom p:nth-child(2) {
    display: unset;
  }
}/*# sourceMappingURL=index.css.map */