$grey1: #555555;
$grey2: #999999;
$grey3: #eeeeee;
$pink: #ff2b91;
$violet: violet;
$red: red;
$orange: rgb(255, 123, 0);
$brown: rgb(165, 87, 42);

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: auto;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 428px;
  background-color: white;
  .container {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .burger {
    color: $grey2;
    font-size: 25px;
  }
  nav {
    display: none;
  }
}
main {
  width: 428px;
  background-color: white;
}
.container {
  width: 85%;
  margin: auto;
}
.noOther {
  background-image: url(Images/other/graphic.png);
  background-size: cover;
  background-position-x: 150px;
  background-position-y: -30px;
  background-repeat: no-repeat;
  > div {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    .noOtherLeft {
      width: 80%;
      .launching {
        padding-top: 30px;
        color: $pink;
      }
      h1 {
        line-height: 60px;
        font-size: 50px;
      }
      p {
        color: $grey1;
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 20px;
      }
    }
    .noOtherRight {
      img {
        display: none;
      }
    }
  }
}
.signUpButton {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(50deg, $violet, $red, $orange, $brown) border-box;
  padding: 15px 40px;
  border: 4px solid transparent;
  border-radius: 40px;
  display: inline-block;
  font-size: 20px;
}
.earlyBirds {
  .container {
    padding-top: 80px;
  }
  height: 350px;
  background-image: url(Images/other/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -250px;
  h3 {
    font-size: 40px;
  }
  p {
    font-size: 22px;
    line-height: 28px;
  }
}
.companies {
  > .container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-content: center;
  }
  .hideInMobile {
    display: none;
  }
}
.auction {
  height: 700px;
  border-bottom: solid 2px #eeeeee;
  overflow-x: hidden;
  .auctionText {
    h2 {
      margin-top: 60px;
      font-size: 40px;
      font-weight: 400;
    }
    p {
      color: $grey1;
      font-size: 22px;
    }
    a {
      color: $grey1;
    }
  }
  .auctionOffers {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  article {
    width: 290px;
    .offerBottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $grey3;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding: 0 25px;
      margin-top: -5px;
    }
    .offerBottom > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .bottomTop {
      padding-top: 20px;
    }
    .series {
      color: #ff8039;
    }
    .price {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
    p {
      color: #999999;
      font-size: 12px;
      margin: 1px 0;
    }
    h3 {
      margin: 10px 0;
    }

    .bottomBot {
      padding-bottom: 20px;
      p {
        font-size: 16px;
      }
    }
  }
}
.noOtherBottom {
  background-image: url(Images/other/upsell-footer-image.svg);
  background-size: auto;
  background-position-x: 250px;
  background-position-y: 220px;
  background-repeat: no-repeat;
  padding-top: 35px;
  height: 650px;
  border-bottom: solid 2px #eeeeee;
  > div {
    display: flex;
    flex-direction: row;
  }
  .noOtherBottomLeft {
    width: 60%;
    padding-top: 40px;
  }
  .launching {
    color: $pink;
    margin: 0;
  }
  h1 {
    font-size: 50px;
    font-weight: 900;
  }
  p {
    color: $grey1;
    font-size: 22px;
    line-height: 35px;
    span {
      display: none;
    }
  }
  .noOtherBottomRight {
    display: none;
  }
  button {
    margin-bottom: 50px;
  }
}
footer {
  width: 428px;
  background-color: white;

  .container {
    padding-top: 50px;
    color: $grey1;
  }
  .footLeft {
    p {
      padding: 10px 0;
    }
    i {
      padding-right: 10px;
      padding-bottom: 30px;
      color: $grey2;
    }
  }
  .footRight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    nav {
      display: flex;
      flex-direction: column;
    }
    h4 {
      margin-bottom: 15px;
    }
    a {
      text-decoration: none;
      color: $grey1;
      padding: 5px 0;
    }
  }
  .footBottom {
    padding-top: 20px;
    padding-bottom: 70px;
    color: $grey2;
    font-size: 20px;
    p:nth-child(2) {
      display: none;
    }
  }
}

@media screen and (min-width: 429px) {
  header {
    width: 1440px;
    padding-bottom: 40px;
    .burger {
      display: none;
    }
    nav {
      display: block;
      a {
        padding-left: 10px;
        text-decoration: none;
        color: $grey1;
      }
      a:nth-child(4) {
        color: $pink;
      }
    }
  }
  main {
    width: 1440px;
    .noOther {
      height: auto;
      background-image: none;
      padding-bottom: 100px;
      .container {
        padding-bottom: 0;
      }
      .noOtherLeft {
        width: 65%;
        h1 {
          font-size: 70px;
          line-height: 75px;
          font-weight: 900;
          margin: 0;
          padding-bottom: 40px;
        }
        p {
          font-size: 18px;
          line-height: 24px;
        }
      }
      .noOtherRight {
        img {
          display: block;
          width: 110%;
        }
      }
    }
    .earlyBirds {
      width: 85%;
      margin: auto;
      height: 300px;
      background-position-x: unset;
      background-size: 100%;
      background-repeat: no-repeat;
      padding-bottom: 50px;
      .container {
        padding-top: 20px;
      }
    }
    .companies {
      .container {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        img {
          width: 13%;
        }
      }
      .hideInMobile {
        display: block;
      }
    }
    .auction {
      height: auto;
      padding-bottom: 100px;
      .auctionText {
        padding-bottom: 25px;
      }
      .auctionOffers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 9px;
      }
    }
    .noOtherBottom {
      background-image: none;
      height: auto;
      .container {
        display: flex;
        height: 480px;
      }
      .noOtherBottomLeft {
        width: 45%;
        h1 {
          font-weight: 900;
          letter-spacing: 2px;
        }
        p {
          span {
            display: unset;
          }
        }
      }
      .noOtherBottomRight {
        display: unset;
        width: 45%;
        background-image: url(Images/other/upsell-footer-image.svg);
        background-size: auto;
        background-position-x: 300px;
        background-position-y: 20px;
        background-repeat: no-repeat;
      }
    }
  }
  footer {
    width: 1440px;
    .footTop {
      display: flex;
      justify-content: space-between;
      .footRight {
        display: flex;
        gap: 100px;
      }
    }
    .footBottom {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      p:nth-child(2) {
        display: unset;
      }
    }
  }
}
